{% extends "templates/web.html" %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .book-flights-btn{
                background-color: blue;
            }
        </style>
    </head>
    <body>
        <h2 style="font-weight: bold;">{{ doc.name }}</h2>
        <br>
        <h2 style="font-weight: bold;">Filght Details</h2>
        <br>
        <li>{{ doc.source_airport }} : {{destination}}</li>
        <li>{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }}</li>
        <li>Duration {{ frappe.utils.format_duration(doc.duration) }}</li>
        <br>
        <a href="/book-flight-ticket"><button class="book-flights-btn" type="submit" onclick="" >Book Flight</button></a>
        
    </body>
</html>
{% endblock %}
<!-- this is a sample default web page template -->